<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=divce-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <div class="container-fluid" style="border-bottom: 1px solid #e8e0e8;">
            <div class="col-md-6">
                <img style="height:40px;" src="images/logo1.png">
            </div>
            <div class="col-md-6 ">
               
            </div>
        </div>
    </header>
    <section>
        <div class="container register">
            <h1>Apply to Join our Network of Top Freelancers</h1>
            <h4 class="register-head-text">Toptal only accepts great freelancers. When working with Toptal, you'll gain access to a network of top talent,
                great companies, and resources you can leverage throughout your career.</h4>
            <div class="col-md-8">

                <div class="form-group">
                    <label for="sel1">I am a part timer</label>
                    <select class="form-control" id="sel1">
                              <option>Developer</option>
                              <option>Designer</option>
                            </select>
                </div>
                <div class="form-group">
                    <label for="1">Email:</label>
                    <input type="text" class="form-control" id="1" placeholder="Enter Your Email Id">
                </div>
                <div class="form-group">
                    <label for="2">Password:</label>
                    <input type="password" class="form-control" id="2" placeholder="Enter Password">
                </div>
                <div class="form-group">
                    <label for="3">Password:</label>
                    <input type="password" class="form-control" id="3" placeholder="Re-Enter Password">
                </div>
                <div class="form-group">
                    <label for="3">Name:</label>
                    <input type="text" class="form-control" id="3" placeholder="Your Full Name">
                </div>
                <div class="form-group">
                        <label for="3">Skype Name:</label>
                        <input type="text" class="form-control" id="3" placeholder="Your Skype Name">
                    </div>
                    <div style="display: block;float:right">
                            <li class="page_header"><a class="button" href="#">Join Rent-Coder</a></li>
                            </div>


            </div>
            <div class="col-md-4">
                    <div class=" col-md-6 col-sm-6">
                            <a href="#">
                              <div class="company-ban-pan">
                  
                                <h3>HCL</h3>
                              </div>
                            </a>
                          </div>
                          <div class=" col-md-6 col-sm-6">
                            <a href="#">
                              <div class="company-ban-pan">
                                <h3>Wipro</h3>
                              </div>
                            </a>
                          </div>
                          <div class=" col-md-6 col-sm-6">
                            <a href="#">
                              <div class="company-ban-pan">
                                <h3>Dell</h3>
                              </div>
                            </a>
                          </div>
                          <div class=" col-md-6 col-sm-6">
                            <a href="#">
                              <div class="company-ban-pan">
                                <h3>TCS</h3>
                              </div>
                            </a>
                          </div>
                          <div class=" col-md-6 col-sm-6">
                            <a href="#">
                              <div class="company-ban-pan">
                                <h3>Infosys</h3>
                              </div>
                            </a>
                          </div>
                          <div class=" col-md-6 col-sm-6">
                            <a href="#">
                              <div class="company-ban-pan">
                  
                                <h3>CSE</h3>
                              </div>
                            </a>
                          </div>
            </div>
        </div>

    </section>
    <section>
            <div class="container-fluid footer background" >
              
              <div class="col-md-12" style="border-bottom: 1px solid #e8e0e8;padding-bottom:15px;">
                <div class="col-md-3">
               
                <ul class="ban-list1">
                    <li class="footer-head-border">HIGHEST IN-DEMAND TALENT</li>
                  <li><a href="#">iOS Developer</a></li>
                  <li><a href="#">Front-End Developer</a></li>
                  <li><a href="#">UX Designer</a></li>
                  <li><a href="#">UI Designer</a></li>
                  <li><a href="#">Financial Modeling Consultants</a></li>
                  <li><a href="#">Interim CFOs</a></li>
                </ul>
              </div>
              <div class="col-md-3">
               
                <ul class="ban-list1">
                    <li class="footer-head-border">ABOUT</li>
                  <li><a href="#">Top 3%</a></li>
                  <li><a href="#">Clients</a></li>
                  <li><a href="#"> Freelance Developers</a></li>
                  <li> <a href="#">Freelance Designers</a></li>
                  <li><a href="#">Freelance Finance Experts</a></li>
                  <li><a href="#">About Us</a></li>
                </ul>
              </div>
              <div class="col-md-3">
              
                <ul class="ban-list1">
                    <li class="footer-head-border">CONTACT</li>
                  <li><a href="#">Contact Us</a> </li>
                  <li> <a href="#">Press Center</a></li>
                  <li> <a href="#">Careers</a></li>
                  <li><a href="#"> FAQ</a></li>
        
                </ul>
              </div>
              <div class="col-md-3">
                <ul class="social">
                  <li class="footer-head-border" style="float:none;">SOCIAL</li><br>
                  <li ><a href="#"><img src="images/facebook.png" ></a> </li>
                  <li><a href="#"><img src="images/google.png" > </a></li>
                  <li><a href="#"><img src="images/linkedin.png" ></a> </li>
                  <li><a href="#"><img src="images/twitter.png" ></a> </li>
        
                </ul>
              </div>
              </div>
            </div>
              <div class="container-fluid footer background">
              <div class="col-md-6">
                  <ul>
                    <li style="list-style: none;color: #fff;">Hire the top 3% of freelance talent</li>
                  </ul>
                </div>
                <div class="col-md-6">
                    <ul class="foter-bottom-pan">
                        <li>© Copyright 2010 - 2017 Toptal, LLC |</li>
                          <li> <a href="#"> Privacy Policy</a></li>
                           <li><a href="#"> Website Terms</a></li>
                      </ul>
                </div>
               
            </div>
          </section>
</body>

</html>