.login_page {
    background-color: #385984;
    background-image: url(../images/login-bg.png);
    background-attachment: fixed;
    min-height: 100%;
    width: 100%;
}
.loginpage {
    width: 100%;
    max-width: 425px;
    margin: 6% auto;
    color: #fff;
    background: rgba(52, 61, 72, 0.48);
    padding: 45px;
    border-radius: 7px;
}
.background
{
    background: #385984;
}
.page_header
{
	background: #33B481;
    padding: 10px;
    float: left;
    color: #fff;
    margin: 3px;
    border-radius: 6px;
    list-style:none;
    cursor: pointer;
}
.page_header a, .page_header a:hover ,.page_header a:active {
	text-decoration:none;
	color: #fff;
}
.menu {
    background-color: #fff !important;
    border: none !important;
    margin-bottom: 0px !important;
}
.menu .navbar-nav>.active>a, .menu .navbar-nav>.active>a:focus, .menu .navbar-nav>.active>a:hover, .menu .navbar-nav>li:hover {
    color: #fff !important;
    background-color: #2a82ad !important;
}
.menu .navbar-nav>li>a {
    color: #867e7e;
}
.menu .navbar-nav>.open>a, .menu .navbar-nav>.open>a:focus, .menu .navbar-nav>.open>a:hover {
    color: #fff !important;
    background-color: #2a82ad !important;
}
.menu .navbar-toggle .icon-bar {
    background-color: #cac4c4 !important;
}
.menu .navbar-toggle {
    border-color: #c5bfbf !important;
}
.banner h2
{
	padding:10px;
	color:#fff;
	text-align:center;
}
.banner p
{
	padding:10px;
	color: #f3f7ff;
    font-size: 17px;
    font-weight: 100;
    line-height: 26px;
	text-align:center;
}
.profile
{
	border:1px solid #fff;
	background:#fff;
	margin:1px;
}
.profile img
{
	margin: 0 auto;
    display: block;
}
.tech-ban-pan {
    border-radius: 4px;
    border: 1px solid #adad92;
    background: #fff;
    width: 100%;
    color: #636363;
    box-sizing: border-box;
    display: inline-block;
    margin: 15px 0 30px;
    text-align: center;
}
.tech-ban-pan img{
    height: 75px;
    margin: 5px;
    width: 75px;
    border-radius: 40px;
}
.tech-ban-pan:hover
{
    margin-top:10px; 
}
.company-ban-pan {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #3863a0;
    width: 100%;
    color: #636363;
    box-sizing: border-box;
    display: inline-block;
    margin: 15px 0 15px;
    text-align: center;
}
.company-ban-pan:hover{
    background: #e2e2e2;
    color: #3863a0;
}
.mid-pan-2
{
   
    color: #fff;
    padding: 10px
}
.mid-pan-icon
{
    max-height:60px;
    margin-top: 27px; 
}
.procee-step img
{
  max-height: 240px;
  margin: 5px;
  border: 1px solid #cac4c4;

}
.badge
{
    background-color: #3863a0 !important;
}
.procee-step p
{
    color: #3863a0;
    font-size: 16px;
    font-weight: 500;
}
.section-heading
{
    text-align: center;
    color: #9e9fa2;
    margin-top: 30px;
    margin-bottom: 30px;
}
.video-pan
{
    padding: 15px;
}
.video-pan img
{
    height: 220px;
}
.video-pan h4, .video-pan p
{
    color: #fff;
    text-align: center;
}
.ban-list li
{
    list-style: none;
}
.ban-list li a
{
    color: #9e9fa2;
    text-decoration: none;
    list-style: none;
}
.ban-list li a:hover, 
.ban-list1 li a:hover,
.social li a:hover, 
.foter-bottom-pan li a:hover
{ 
    color: #2a82ad;
}
.ban-list1 li
{
    color:#fff;
    list-style: none;
}
.ban-list1 li a{
    color: #fff;
    text-decoration: none;
}
.social li
{
    color:#fff;
    float:left;
    list-style: none;
    display: inline-block;
    
}
.social li a{
    text-decoration: none;
    color: #fff;
}
.footer{
    padding: 15px;
}
.footer-head-border
{

    border-bottom: 1px solid white;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.foter-bottom-pan
{
    float: right;
}
.foter-bottom-pan li{
    float: left;
    list-style: none;
    color: #fff;
    margin: 5px
}
.foter-bottom-pan li a{
    text-decoration: none;
    color: #fff;
}
.register-head-text
{
    padding-bottom: 16px;
    margin-bottom: 40px;
    border-bottom: 1px solid #e0dce0;
}
.register .form-control
{
    height: 45px !important;
}
.register h1
{
    color: #3863a0;
}
.careerrow {
    background-color: #fff;
    margin-top: 15px;
	padding:30px;
}
.careercon {
    width: 60%;
    margin-left: 20%;
}
.search-control-label {
    float: left;
    width: 37%;
    padding-left: 14%;
    padding-top: 5px;
}

.carjobfi {
    width: 47% !important;
}
.drpdown {
    margin-left: 14px;
    width: 66%;
    margin-top: 10px;
}
.apply-job-head {
    min-height: 180px;
    border-radius: 8px;
    padding: 20px;
    border: 1px solid #adad92;
    background: #dadad6;
    width: 100%;
    color: #636363;
    box-sizing: border-box;
    max-width: 300px;
    display: inline-block;
    margin: 15px 0 30px;
    text-align: center;
}
.user li
{
    float: right;
    color: #fff;
    margin: 10px;
    list-style: none;
}
.register-basic-page
{
    font-family: arial;
    color: #b4b4b4;
    padding: 20px;
}
.pad10
{
    padding: 10px;
}
.freelancer.modal-dialog {
    position: unset;
}
@media (min-width: 576px) and (max-width: 767px) { 
    
    .pad10
    {
        padding: 0px;
    }
    .center-align
    {
        margin: 0 auto;
        display: block;
    }
    
}
@media (max-width: 575px) {

    .pad10
    {
        padding: 0px;
    }
    .center-align
    {
        margin: 0 auto;
        display: block;
    }
    
}