@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container register">
        <h1>Apply to Join our Network of Top Freelancers</h1>
        <h4 class="register-head-text">
            Toptal only accepts great freelancers. When working with Toptal, you'll gain access to a network of top talent,
            great companies, and resources you can leverage throughout your career.
        </h4>
        <div class="col-md-8">

            <div class="form-group">
                <label for="sel1">Select Developer</label>
                <select class="form-control" id="sel1">
                    <option>Developer1</option>
                    <option>Developer2</option>
                    <option>Developer3</option>
                    <option>Developer4</option>
                </select>
            </div>
            <div class="form-group">
                <label for="1">Email:</label>
                <input type="text" class="form-control" id="1" placeholder="Enter Your Email Id">
            </div>
            <div class="form-group">
                <label for="2">Password:</label>
                <input type="password" class="form-control" id="2" placeholder="Enter Password">
            </div>
            <div class="form-group">
                <label for="3">Password:</label>
                <input type="password" class="form-control" id="3" placeholder="Re-Enter Password">
            </div>
            <div class="form-group">
                <label for="3">Name:</label>
                <input type="text" class="form-control" id="3" placeholder="Your Full Name">
            </div>
            <div class="form-group">
                <label for="3">Skype Name:</label>
                <input type="text" class="form-control" id="3" placeholder="Your Skype Name">
            </div>
            <div style="display: block;float:right">
                <li class="page_header"><a class="button" href="#">Join Rent-Coder</a></li>
            </div>


        </div>
        <div class="col-md-4">
            <div class=" col-md-6 col-sm-6">
                <a href="#">
                    <div class="company-ban-pan">

                        <h3>HCL</h3>
                    </div>
                </a>
            </div>
            <div class=" col-md-6 col-sm-6">
                <a href="#">
                    <div class="company-ban-pan">
                        <h3>Wipro</h3>
                    </div>
                </a>
            </div>
            <div class=" col-md-6 col-sm-6">
                <a href="#">
                    <div class="company-ban-pan">
                        <h3>Dell</h3>
                    </div>
                </a>
            </div>
            <div class=" col-md-6 col-sm-6">
                <a href="#">
                    <div class="company-ban-pan">
                        <h3>TCS</h3>
                    </div>
                </a>
            </div>
            <div class=" col-md-6 col-sm-6">
                <a href="#">
                    <div class="company-ban-pan">
                        <h3>Infosys</h3>
                    </div>
                </a>
            </div>
            <div class=" col-md-6 col-sm-6">
                <a href="#">
                    <div class="company-ban-pan">

                        <h3>CSE</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>

</section>

