<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="OT_RentCoderEntities" connectionString="metadata=res://*/RentCoderModel.csdl|res://*/RentCoderModel.ssdl|res://*/RentCoderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADT-LPT154;initial catalog=OT_RentCoder;user id=sa;password=123456aA;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="RentCoderEntities" connectionString="metadata=res://*/RentCoderModel.csdl|res://*/RentCoderModel.ssdl|res://*/RentCoderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADT-LPT154;initial catalog=OT_RentCoder;user id=sa;password=123456aA;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>